<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>状态信息</string>
		<key>New item</key>
		<array>
			<string>蓝牙状态:已连接</string>
			<string>蓝牙灯:已打开</string>
			<string>灯光模式:纯色</string>
			<string>定时关机:关闭</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>调色</string>
		<key>New item</key>
		<array>
			<string>蓝牙状态:已连接</string>
			<string>蓝牙灯:已打开</string>
			<string>灯光模式:纯色</string>
			<string>定时关机:关闭</string>
		</array>
	</dict>
</array>
</plist>
